.resume-item {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 50px;
  padding-top: 50px;
}

.resume-item-header h4, h3, h2 {
  display: inline;
  padding-right: 5px;
  color: #1abc9c !important;
}
